<div class="preloader-bar" ng-if="itCtrl.showPreloader">
  <md-icon md-menu-align-target md-svg-icon="preloader"></md-icon>
</div>

<md-card ng-if="!itCtrl.showPreloader && itCtrl.item">
  <md-card-content>
   <h2>{{itCtrl.item.name | CapFirstLetters}}</h2>
   <img ng-src="images/{{itCtrl.item.img}}" class="md-card-image" alt="image caption">
   <p>{{itCtrl.item.description}}</p>
   <p>Category: {{itCtrl.item.categoryName}}</p>
   <p>SKU: {{itCtrl.item.sku}}</p>
   <p>Created: {{itCtrl.item.created | UnixDateToDotString}}</p>
   <p>Available: {{itCtrl.item.amount | AmountToWord}}</p>
 </md-card-content>
 <md-card-actions layout="row" layout-align="end center">
   <md-button>Reviews</md-button>
   <md-button ui-sref="list">Back to list</md-button>
 </md-card-actions>
</md-card>

<md-content flex layout-padding ng-if="!itCtrl.showPreloader && !itCtrl.item">
  <p>Item not found</p>
  <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
    <md-button
      md-no-ink
      class="md-primary"
      ui-sref="list"
    >
      Back to list
    </md-button>
  </section>
</md-content>